.Weather {
  font-family: "Azeret Mono", monospace;
  font-family: "Lato", sans-serif;
  border: 1px solid #999999;
  border-radius: 7px;
  max-width: 70%;
  margin: 30px auto;
  padding: 25px;
}

.Weather h1 {
  font-weight: 350;
  display: block;
  color: #525252;
}

.Weather form {
  padding: 10px;
}
.Weather li {
  line-height: 29px;
  font-weight: 300;
  list-style-type: none;
}

.Weather .currentTemp {
  font-size: 46px;
  font-weight: bold;
  margin-left: 2px;
}

.Weather img {
  float: left;
  position: relative;
  top: -15px;
  height: 120px;
}
.Weather .unit {
  display: inline;
  margin-left: 2px;
  position: relative;
  top: -22px;
}
